body{
    background-color: white;
}
.container{
  
    padding-top: 20px;
    padding-bottom: 20px;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
button.active {
    background-color: #28a745;
    color: white;
    transform: scale(1.1);
}
button.inactive {
    background-color: #cccccc;
    color: #666;
    cursor: not-allowed;
}
.navbar a {
    color: #6c757d;
}
.navbar a:hover {
    color: #007bff;
}